#wrapper {
    height: auto;
    width: 100vw;
    position: relative;
    left: 0;
    transition: all 0.75s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#title-wrap {
    font-family: RubikBold;
    text-align: center;
    font-size: 48px;
    letter-spacing: -3px;
}

#wrapper img {
    height: 33px;
    width: 33px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
}

#profile {
    height: auto;
    width: calc(80% - 80px);
    background-color: white;
    border-radius: 50px;
    margin: 50px;
    box-shadow: -7px 5px 4px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

#first {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#face-wrapper {
    height: 200px;
    width: 200px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 100%;
}

#face {
    height: 500px;
    width: 500px;
}

#name {
    font-family: RubikBold;
    font-size: 26px;
}

#intro {
    text-align: center;
    margin-bottom: 25px;
}

#country {
    margin-top: 5px;
    font-family: OpenSans;
}

#details {
    font-family: OpenSans;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 25px;
}

#nationality span {
    margin-right: 90px;
}

#email span {
    margin-right: 35px;
}

#github span {
    margin-right: 15px;
}

#skills {
    max-height: 100px;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
}

#skills svg {
    height: 30px;
    width: 30px;
    margin: 5px;
}

@media(min-width: 900px) {
    #wrapper {
        height: 100vh;
    }
    #profile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 850px;
        margin: auto;
        margin-top: 100px;
    }

    #face-wrapper {
        border-radius: 0;
    }

    #intro {
        text-align: left;
    }

    #details {
        text-align: left;
    }

    #skills {
        max-width: 450px;
    }
}