#hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 20px;
  transition: ease 0.3s;
}

a {
  text-decoration: none;
}

  
#hamburger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  top: 0;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  outline: 0; /* check if this gets rid of blue box when clicking. if not try focus property */
}

#hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-left: 7px;
  position: relative;
  background: var(--prim-orange);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#hamburger input:hover ~ span {
  background: tomato;
}

#hamburger input:checked:hover ~ span {
  background: tomato;
}

#hamburger span:first-child {
  transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a cross
  */
#hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
  * hide the middle one.
  */
#hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * last one should go the other direction
  */
#hamburger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#ham-links {
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100vh;
  width: 140px;
  padding-top: 100px;
  background: var(--nav-col);
  box-shadow: inset 5px 4px 5px rgba(0, 0, 0, 0.05);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  /* to stop flickering of text in safari */
  border-radius: 15px;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.75s cubic-bezier(0.77, 0.2, 0.05, 1);
}


#ham-links div {
  font-family: RubikBold;
  font-size: 20px;
  cursor: pointer;
  width: 140px;
  height: 70px;
  text-align: center;
  margin-bottom: 30px;
  color: black;
  display: flex;
  justify-content: center;
}

#hamburger input:checked ~ #ham-links {
  transform: none;
}

.icon {
  height: 35px;
  width: 35px;
}

@media(min-width: 900px) {
  #ham-links {
    position: absolute;
    top: -30px;
    left: -140px;
    height: 100vh;
    width: 200px;
  }

  .icon {
    height: 45px;
    width: 45px;
  }

  #ham-links div {
    width: 200px;
  }
}