@import-normalize;

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./fonts/Opensans.woff) format('woff');
}

@font-face {
  font-family: 'RubikBold';
  src: local('RubikBold'), url(./fonts/Rubik-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./fonts/Rubik-Regular.woff) format('woff');
}

:root {
  --prim-orange:  rgb(255, 145, 0);
  --background-col: rgb(240, 240, 240);
  --nav-col: rgb(226, 226, 226);
  --prim-font-col: rgb(0, 0, 0); 
  --button-col: rgb(255, 184, 0);
  --icon-col: rgb(0, 0, 0);
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-col);
  color: var(--prim-font-col);
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

#light-wrap {
  margin-top: calc(100vh - 600px);
}

#home-icon, #proj-icon {
  stroke: var(--icon-col);
}

#about-wrap .cls-1 {
  fill: var(--icon-col);
}

#light rect, #light-icon {
  stroke: var(--icon-col);
}

#home-wrap:hover #home-icon {
  stroke: var(--prim-orange);
}

#proj-wrap:hover #proj-icon {
  stroke: var(--prim-orange);
}

#about-wrap:hover .cls-1 {
  fill: var(--prim-orange);
}

#light-wrap:hover #light-icon {
  fill: var(--prim-orange);
}

.face-line-night {
  stroke: white !important;
}



@media(min-width: 900px) {
  #light-wrap {
    margin-top: calc(100vh - 500px);
  }
}