#tilt {
    display: flex;
    justify-content: center;
    -webkit-perspective: 6000px;
    -moz-perspective: 6000px;
    perspective: 6000px;
}

#wrapper {
    height: auto;
    width: calc(80% - 40px);
    background-color: white;
    color: black;
    border-radius: 50px;
    margin: 50px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    transform-style: preserve-3d;
}

#ellipse {
    position: absolute;
    top: 0;
    left: 0px;
    right: 300px;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border: none;
}

#screenshot-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.25s ease 0s;
}

#screenshot {
    max-height: 220px;
    width: max(95%, 250px);
    border-radius: 50px;
    margin-bottom: 20px;
}

#previews {
    width: 110%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

}

#previews a {
    height: 30px;
    width: max(100%, 110px);
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
}

#code-wrap {
    height: 30px;
    width: max(32.5%, 125px);
    position: relative;
    
}

#code-wrap img, #live-wrap svg {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

#live-wrap svg {
    z-index: 1;
}

#code {
    background-color: white;
    border: 1px solid black
}

#live-wrap {
    height: 30px;
    width: max(32.5%, 125px);
    position: relative;
    margin-left: 10px;
}

#live {
    background-color: var(--button-col);
    border: 1px solid #CFCFCF;
}

#text-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.25s ease 0s;
}

#title {
    font-family: RubikBold;
    font-size: 26px;
    margin-bottom: 5px;
}

#sub-title {
    font-family: Rubik;
    font-size: 14px;
    margin-bottom: 20px;
}

#info {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 22.5px;
    text-align: center;
}

#sub-title {
    margin-top: 10px;
    margin-bottom: 20px;

}

#sub-title svg{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

@media(min-width: 900px) {

    #tilt {
        width: 800px;
        -webkit-perspective: 1500px;
        -moz-perspective: 1500px;
        perspective: 1500px;
    }

    #wrapper {
        height: 250px;
        max-width: 550px;
        margin: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 35px;
    }

    #text-wrap {
        height: 100%;
        width: 400px;
        text-align: left;
    }

    #screenshot-wrap {
        width: 300px;
        padding-top: 25px;
    }

    #info {
        width: 70%;
        text-align: left;
    }

    #code-wrap {
        height: 30px;
        width: 120px;

    }

    #live-wrap {
        height: 30px;
        width: 120px;
    }

    #previews a {
        height: 30px;
        width: 120px;
    }

    #sub-title {
        margin-bottom: 30px;
    }
    
}
